# 1-1 Intro Python Practice
##  Getting started with Python in Jupyter Notebooks
### notebooks, comments, print(), type(), addition, errors and art

<font size="5" color="#00A0B2"  face="verdana"> <B>Student will be able to</B></font>
- use Python 3 in Jupyter notebooks
- write working code using `print()` and `#` comments  
- write working code using `type()` and variables
- combine strings using string addition (+)
- add numbers in code (+)
- troubleshoot errors
- create character art  

# &nbsp;
>**note:** the **[ ]** indicates student has a task to complete  
  
>**reminder:** to run code and save changes: student should upload or clone a copy of notebooks 

#### notebook use
- [ ] insert a **code cell** below   
- [ ] enter the following Python code, including the comment: 
```python 
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')
```
Then run the code - the output should be:  
`Hello!`

In [1]:
# [ ] print 'Hello!' and remember to save notebook!
print('Hello!')

Hello!

#### run the cell below   
- [ ] use **Ctrl + Enter**  
- [ ] use **Shift + Enter**

In [2]:
print('watch for the cat')

watch for the cat

#### Student's Notebook editing
- [ ] Edit **this** notebook Markdown cell replacing the word "Student's" above with your name
- [ ] Run the cell to display the formatted text
- [ ] Run any 'markdown' cells that are in edit mode, so they are easier to read

In [3]:
#### [ ] convert \*this\* cell from markdown to a code cell, then run it  
print('Run as a code cell')

Run as a code cell

##  # comments
create a code comment that identifies this notebook, containing your name and the date

In [ ]:
# Note book practice module 1, student: Nick, Date: 02/05/2020

#### use print() to 
- [ ] print [**your_name**]
- [ ] print **is using python!**

In [4]:
# [ ] print your name
print("Nick")
# [ ] print "is using Python"
print(name, "is using Python")

Nick is using Python

Output above should be:  
`Your Name  
is using Python!`

#### use variables in print()
- [ ] create a variable **your_name** and assign it a string containing your name
- [ ] print **your_name**

In [6]:
# [ ] create a variable your_name and assign it a sting containing your name
your_name = "Nick"
#[ ] print your_name
print(your_name)

Nick

#### create more string variables
- **[ ]** create variables as directed below
- **[ ]** print the variables

In [18]:
# [ ] create variables and assign values for: favorite_song, shoe_size, lucky_number
favorite_song = "Summer"
shoe_size = "9"
lucky_number = "11"

# [ ] print the value of each variable favorite_song, shoe_size, and lucky_number
print(favorite_song, shoe_size, lucky_number)

Summer 9 11

#### use string addition
- **[ ]**  print the above string variables (favorite_song, shoe_size, lucky_number) combined with a description by using **string addition**
>for example favorite_song displayed as:  
`favorite song is happy birthday`

In [23]:
# [ ] print favorite_song with description

print("My favorite song is: ", favorite_song)
# [ ] print shoe_size with description

print("My shoe size is: ", shoe_size)
# [ ] print lucky_number with description

print("My lucky number is: ", lucky_number)

My favorite song is:  Summer
My shoe size is:  9
My lucky number is:  11

##### more string addition
- **[ ]** make a single string (sentence) in a variable called favorite_lucky_shoe using **string addition** with favorite_song, shoe_size, lucky_number variables and other strings as needed 
- **[ ]** print the value of the favorite_lucky_shoe variable string
> sample output:  
`For singing happy birthday 8.5 times, you will be fined $25`

In [36]:
# assign favorite_lucky_shoe using
favorite_lucky_shoe = "My favorite season is: " + favorite_song + ", it costs " + shoe_size + "$" + " at " + lucky_number + " AM"
print(favorite_lucky_shoe)

My favorite season is: Summer, it costs 9$ at 11 AM

### print() art

#### use `print()` and the asterisk **\*** to create the following shapes
- [ ] diagonal line  
- [ ] rectangle  
- [ ] smiley face

In [42]:
# [ ] print a diagonal using "*"
print("*")
print("  *")
print("    *")
print("      *")
print("        *")
# [ ] rectangle using "*"
print("******")
print("*    *")
print("*    *")
print("*    *")
print("*    *")
print("******")
# [ ] smiley using "*"
print("")
print("    * *")
print("")
print("")
print("  *     *")
print("   *****")

*
  *
    *
      *
        *
******
*    *
*    *
*    *
*    *
******

    * *


  *     *
   *****

#### Using `type()`
-**[ ]** calulate the *type* using `type()`

In [43]:
# [ ] display the type of 'your name' (use single quotes)

type('your name')

str

In [44]:
# [ ] display the type of "save your notebook!" (use double quotes)

type("save your notebook!")

str

In [45]:
# [ ] display the type of "25" (use quotes)

type("25")

str

In [46]:
# [ ] display the type of "save your notebook " + 'your name'

type("save your notebook " + 'your name')

str

In [47]:
# [ ] display the type of 25 (no quotes)

type(25)

int

In [48]:
# [ ] display the type of 25 + 10 

type(25 + 10)

int

In [49]:
# [ ] display the type of 1.55

type(1.55)

float

In [50]:
# [ ] display the type of 1.55 + 25

type(1.55 + 25)

float

#### Find the type of variables
- **[ ]** run the cell below to make the variables available to be used in other code
- **[ ]** display the data type as directed in the cells that follow

In [51]:
# assignments ***RUN THIS CELL*** before starting the section

student_name = "Gus"
student_age = 16
student_grade = 3.5
student_id = "ABC-000-000"

In [52]:
# [ ] display the current type of the variable student_name

type(student_name)

str

In [54]:
# [ ] display the type of student_age

type(student_age)

int

In [55]:
# [ ] display the type of student_grade

type(student_grade)

float

In [56]:
# [ ] display the type of student_age + student_grade

type(student_age + student_grade)

float

In [57]:
# [ ] display the current type of student_id

type(student_id)

str

In [58]:
# assign new value to student_id 
student_id = 58 

# [ ] display the current of student_id

print(student_id)

58

#### number integer addition

- **[ ]** create variables (x, y, z) with integer values

In [59]:
# [ ] create integer variables (x, y, z) and assign them 1-3 digit integers (no decimals - no quotes)

x = 3
y = 5
z = 8

- **[ ]** insert a **code cell** below
- **[ ]** create an integer variable named **xyz_sum** equal to the sum of x, y, and z
- **[ ]** print the value of **xyz_sum**

In [60]:

xyz_sum = x + y + z
print(xyz_sum)

16

### Errors
- **[ ]** troubleshoot and fix the errors below

In [61]:
# [ ] fix the error 

print("Hello World!")

Hello World!

In [62]:
# [ ] fix the error 
print("strings have quotes and variables have names")

strings have quotes and variables have names

In [63]:
# [ ] fix the error 
print( "I have $", 5)

I have $ 5

In [64]:
# [ ] fix the error 
print('always save the notebook')

always save the notebook

## ASCII art
- **[ ]** Display first name or initials as ASCII Art
- **[ ]** Challenge: insert an additional code cell to make an ASCII picture

In [67]:
# [ ] ASCII ART

print("         _-----o----_")
print("/|__/|  /            |")
print("|_  _/ /              |")
print("  | |_|          () __|")
print("   |                |_")
print("    |     %__%       /")
print("~~~~~|~~~~~~~~~~~~~~/~~~~")

         _-----o----_
/|__/|  /            |
|_  _/ /              |
  | |_|          () __|
   |                |_
    |     %__%       /
~~~~~|~~~~~~~~~~~~~~/~~~~

In [74]:
# [ ] ASCII ART
print("                                  |>>>")
print("                                  |")
print("                    |>>>      _  _|_  _         |>>>")
print("                    |        |;| |;| |;|        |")
print("                _  _|_  _    \\\.    .  /   _  _|_  _")
print("               |;|_|;|_|;|    \\\:. ,  /   |;|_|;|_|;|")
print("               \\\..      /    ||;   . |   \\\.    .  /")
print("                \\\.  ,  /     ||:  .  |    \\\:  .  /")
print("                 ||:   |_   _ ||_ . _ | _   _||:   |")
print("                 ||:  .|||_|;|_|;|_|;|_|;|_|;||:.  |")
print("                 ||:   ||.    .     .      . ||:  .|")
print("                 ||: . || .     . .   .  ,   ||:   |")
print("                 ||:   ||:  ,  _______   .   ||: , |")
print("                 ||:   || .   /+++++++\    . ||:   |")
print("                 ||:   ||.    |+++++++| .    ||: . |")
print("              __ ||: . ||: ,  |+++++++|.  . _||_   |")
print("     ____--`~    '--~~__|.    |+++++__|----~    ~`---,              ___")
print("-~--~                   ~---__|,--~'                  ~~----_____-~'   `~----~~")

                                  |>>>
                                  |
                    |>>>      _  _|_  _         |>>>
                    |        |;| |;| |;|        |
                _  _|_  _    \\.    .  /   _  _|_  _
               |;|_|;|_|;|    \\:. ,  /   |;|_|;|_|;|
               \\..      /    ||;   . |   \\.    .  /
                \\.  ,  /     ||:  .  |    \\:  .  /
                 ||:   |_   _ ||_ . _ | _   _||:   |
                 ||:  .|||_|;|_|;|_|;|_|;|_|;||:.  |
                 ||:   ||.    .     .      . ||:  .|
                 ||: . || .     . .   .  ,   ||:   |
                 ||:   ||:  ,  _______   .   ||: , |
                 ||:   || .   /+++++++\    . ||:   |
                 ||:   ||.    |+++++++| .    ||: . |
              __ ||: . ||: ,  |+++++++|.  . _||_   |
     ____--`~    '--~~__|.    |+++++__|----~    ~`---,              ___
-~--~                   ~---__|,--~'                  ~~----_____-~'   `~----~~

[Terms of use](http://go.microsoft.com/fwlink/?LinkID=206977) &nbsp; [Privacy & cookies](https://go.microsoft.com/fwlink/?LinkId=521839) &nbsp; Â© 2017 Microsoft